.loadBody {
    width: 100%;
    height: 100vh;
    background: url(../images/bg/loadBg.webp) bottom center fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    .inner {
        padding-top: 120px;
    }
    .logo {
        width: 170px;
        margin: 0 auto 40px;
        position: relative;
        z-index: 2;
    }
    .loadTxt {
        color: #fecc62;
        text-align: center;
        position: relative;
        z-index: 2;
        font-weight: bold;
        -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
        &::before {
            content: "[ ";
            padding-right: 5px;
        }
        &::after {
            content: "]";
            padding-left: 5px;
        }
        span {
            position: relative;
            display: inline-block;
            animation: jump 1.5s ease-in-out infinite;
            animation-delay: calc(0.1s * var(--i));
        }
    }
    .loadPic {
        width: 424px;
        height: 474px;
        position: relative;
        transform: translateY(-180px);
        .light {
            width: 100%;
            animation: flicker 2s infinite linear;
            transform-origin: top center;
        }
        .backCard {
            width: 60%;
            margin: auto;
            position: absolute;
            top: 43%;
            left: 0;
            right: 0;
            animation: float 3s linear infinite;
        }
        .diceBox {
            width: 100%;
            height: 100%;
            position: absolute;
            @include pos(tl, 0);
            .dice {
                position: absolute;
                animation: rotate30 infinite linear;
            }
            .d1 {
                width: 11%;
                @include pos(tl, 68%, 21%);
                animation-duration: 1.5s;
            }
            .d2 {
                width: 16%;
                @include pos(tl, 48%, 40%);
                animation-duration: 3s;
            }
            .d3 {
                width: 9%;
                @include pos(tr, 69%, 37%);
                animation-duration: 2s;
            }
            .d4 {
                width: 14%;
                @include pos(tr, 56%, 16%);
                animation-duration: 2.5s;
            }
        }
        .cardBox {
            width: 100%;
            height: 100%;
            position: absolute;
            @include pos(tl, 0);
            .card {
                position: absolute;
                opacity: 0;
                animation: opacity 3s linear infinite;
            }
            .c1 {
                width: 18%;
                @include pos(tl, 68.5%, 12%);
                animation-delay: 0s;
            }
            .c2 {
                width: 18%;
                @include pos(tl, 70.5%, 11%);
                animation-delay: .1s;
            }
            .c3 {
                width: 18%;
                @include pos(tl, 79%, 15%);
                animation-delay: .2s;
            }
            .c4 {
                width: 19%;
                @include pos(tl, 82%, 19%);
                animation-delay: .3s;
            }
            .c5 {
                width: 18%;
                @include pos(tl, 83.5%, 26%);
                animation-delay: .4s;
            }
            .c6 {
                width: 18%;
                @include pos(tl, 83.5%, 33%);
                animation-delay: .5s;
            }
        }
    }
}

@keyframes jump {
    0%,
    40%,
    100% {
        transform: translateY(0);
        color: #fecc62;
    }
    20% {
        transform: translateY(-10px);
        color: #fff;
    }
}

@keyframes flicker {
    0%,
    100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}

@keyframes rotate30 {
    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes opacity {
    0%{
        opacity: 1;
    }
    50%,
    100% {
        opacity: 0;
    }
}

