$iptBg: #c8cbd4;
$iptColor: #2c2f3a;
$verifyBg: #d22b25;

.loginBox {
    width: 100%;
    height: 100vh; 
    background: url(../images/bg/loginBg.webp) no-repeat center top / cover;
    display: flex;
    justify-content: center;
    overflow: auto;
    .innerBox {
        width: 300px;
        padding: 100px 10px 0;   
        .logo {
            width: 50%;
            margin: 0 auto 30px;
        }
        .iptBox {
            margin-bottom: 20px;
            .list {
                margin-bottom: 5px;
                li {
                    height: 43px;
                    padding: 0 10px 0 15px;
                    border-radius: 43px;
                    background-color: $iptBg;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    label {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                }
                li + li {
                    margin-top: 12px;
                }
                input {
                    width: 100%;
                    @include fullNone;
                    padding: 0 10px;
                    font-size: 15px;
                    color: $iptColor;
                }
                .icon {
                    width: 22px;
                    height: 22px;
                    flex-shrink: 0;
                    background: no-repeat center;
                    &.user {
                        background-image: url(../images/icon/idCard.svg);
                    }
                    &.pwd {
                        background-image: url(../images/icon/key.svg);
                    }
                    &.verify {
                        background-image: url(../images/icon/shield.svg);
                    }
                    &.eye {
                        width: 20px;
                        height: 20px;
                        background-image: url(../images/icon/eye_off.svg);
                        cursor: pointer;
                        &.on {
                            background-image: url(../images/icon/eye_on.svg);
                        }
                    }
                }
                .codeNum {
                    padding: 5px 10px;
                    font-size: 14px;
                    border-radius: 5px;
                    flex-shrink: 0;
                    background-color: $verifyBg;
                    color: #fff;
                    cursor: pointer;
                }
            }
            .tool {
                padding: 0 10px;
                color: #eee;
                font-size: 12px;
                display: flex;
                justify-content: space-between;
                .ckBox {
                    label {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }
                    input {
                        display: none;
                    }
                    .icon {
                        width: 22px;
                        height: 22px;
                        margin-left: 3px;
                        background: url(../images/icon/ckBox_off.svg) no-repeat center top / cover;
                    }
    
                    input:checked + .icon {
                        background-image: url(../images/icon/ckBox_on.svg);
                    }
                }
            }
        }
        .submitBox{
            padding-bottom: 50px;
            button{
                @include fullNone;
                width: 100%;
                height: 45px;
                border-radius: 45px;
                color: #fff;
                font-size: 18px;
                letter-spacing: 1px;
                font-weight: bold;
                background: linear-gradient(135deg,#90e8f8,#0261fc);
                cursor: pointer;
            }
            .tool{
                padding-top: 10px;
                color: #eee;
                font-size: 12px;
                ul{
                    display: flex;
                    justify-content: center;
                }
                li{
                    position: relative;
                }
                li+li{
                    margin-left: 20px;
                    &::before{
                        content: '|';
                        position: absolute;
                        top: 0;
                        left: -10px;
                    }
                }
            }
        }
    }
}
